<div class="container main-menu">
	<div class="row align-items-center justify-content-between d-flex">
		<div id="logo">
			<a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a [routerLink]="['/home']">HOME</a></li>
				<li class="menu-has-children"><a href="">ESTA ES LA PAZ</a>
					<ul>
						<li><a href="blog-home.html">Geografia</a></li>
						<li><a href="blog-single.html">Historia</a></li>
						<li><a href="blog-single.html">Preguntas frecuente</a></li>

					</ul>
				</li>
				<li class="menu-has-children"><a href="">VISITA LA PAZ</a>
					<ul>
						<li><a [routerLink]="['/UniquePlacea']">Lugares unicos</a></li>
						<li><a href="blog-single.html">Turismo por regiones</a></li>
						<li><a href="blog-single.html">pueblos patrimoni</a></li>
						<li><a href="blog-single.html">Experiencia única</a></li>
						<li><a href="blog-single.html">Artesania</a></li>
						<li><a href="blog-single.html">Gastronomía</a></li>
					</ul>
				</li>
				<li><a href="hotels.html">HOTELES</a></li>
				<li class="menu-has-children"><a href="">MARCA LA PAZ</a>
					<ul>
						<li><a href="blog-home.html">¿Quiénes somos?</a>
							<ul>
								<li><a href="#">Historia de Marca La Paz</a></li>
								<li><a href="#">Politica</a></li>
								<li><a href="#">Manifiestos</a></li>
							</ul>
						</li>
						<li><a href="blog-single.html">Aliados</a>
							<ul>
								<li><a href="#">¿Cómo ser parte de Marca País?</a></li>
								<li><a href="#">Contenidos</a></li>
							</ul>
						</li>
						<li><a href="blog-single.html">Preguntas frecuentes sobre Marca La Paz</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
				<li><a [routerLink]="['/login']">Login</a></li>
				<!-- <li><a>Idioma</a>
					<ul>
						<li><a >ES</a></li>
						<li><a >EN</a></li>
					</ul>
				</li> -->
			</ul>
		</nav><!-- #nav-menu-container -->					      		  
	</div>
</div>