<!-- header -->
<header id="header">
	<app-headertop></app-headertop>
	<app-navvar></app-navvar>
</header>
<!-- #header -->

<!-- start banner Area -->
<app-slider></app-slider>
<!-- End banner Area -->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Actividades</h1>
					<p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-3">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="assets/img/d11.png" alt="">
					</div>
					<div class="desc">	
						<a [routerLink]="['/comercios', 3 ]" class="price-btn">ver</a>			
						<h4>Naturaleza</h4>
						<p>Naturaleza</p>			
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="assets/img/d22.png" alt="">
					</div>
					<div class="desc">	
						<a [routerLink]="['/comercios', 5 ]" class="price-btn">ver</a>			
						<h4>Gastronomía</h4>
						<p>Gastronomía</p>			
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="assets/img/d33.png" alt="">
					</div>
					<div class="desc">	
						<a [routerLink]="['/comercios', 4 ]" class="price-btn">ver</a>			
						<h4>Aventura</h4>
						<p>Aventura</p>			
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="single-destination relative">
					<div class="thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="assets/img/d44.png" alt="">
					</div>
					<div class="desc">	
						<a [routerLink]="['/comercios', 6 ]" class="price-btn">ver</a>			
						<h4>Cultrua</h4>
						<p>Cultura</p>			
					</div>
				</div>
			</div>												
		</div>
	</div>	
</section>
<!-- End popular-destination Area -->

<!-- Start blog Area -->
<section style="padding: 50px 0;" class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Artesanias</h1>
					<p>Encontraras tiendas las mas importantes y si quieres ver mas tiendas, entra a la seccion de culturas que tenemos mas tiendas para mostrar</p>
				</div>
			</div>
		</div>							
		<div class="row">
			<div class="active-recent-blog-carusel">
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul1_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul1_name }}</h4></a>
						<p>
							{{ cul1_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul1);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul2_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul2_name }}</h4></a>
						<p>
							{{ cul2_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul2);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul3_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul3_name }}</h4></a>
						<p>
							{{ cul3_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul3);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul4_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul4_name }}</h4></a>
						<p>
							{{ cul4_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul4);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul5_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul5_name }}</h4></a>
						<p>
							{{ cul5_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul5);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ cul6_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ cul6_name }}</h4></a>
						<p>
							{{ cul6_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(cul6);">Ver...</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- End recent-blog Area -->

<!-- Start blog Area -->
<section style="padding: 50px 0;" class="recent-blog-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-9">
				<div class="title text-center">
					<h1 class="mb-10">Hoteles</h1>
					<p>hoteles en la paz</p>
				</div>
			</div>
		</div>							
		<div class="row">
			<div class="active-recent-blog-carusel">
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl1_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags"> 
						</div>
						<a href="#"><h4 class="title">{{ htl1_name }}</h4></a>
						<p>
							{{ htl1_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl1);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl2_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ htl2_name }}</h4></a>
						<p>
							{{ htl2_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl2);">Ver...</button>
					</div>
				</div>
				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl3_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ htl3_name }}</h4></a>
						<p>
							{{ htl3_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl3);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl4_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ htl4_name }}</h4></a>
						<p>
							{{ htl4_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl4);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl5_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ htl5_name }}</h4></a>
						<p>
							{{ htl5_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl5);">Ver...</button>
					</div>
				</div>

				<div class="single-recent-blog-post item">
					<div class="thumb">
						<img class="img-fluid" style="width: 360px; height: 260px;" src="{{ htl6_img }}" alt="">
					</div>
					<div class="details">
						<div class="tags">
						</div>
						<a href="#"><h4 class="title">{{ htl6_name }}</h4></a>
						<p>
							{{ htl6_desres }}
						</p>
						<button type="button" class="genric-btn primary radius" (click)="detallescultura(htl6);">Ver...</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- End recent-blog Area -->

<!-- Start home-about Area -->
<section class="home-about-area">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<div class="col-lg-6 col-md-12 home-about-left">
				<h1>
					VISIT LA PAZ CIUDAD DEL CIELO
				</h1>
				<p>
					La Paz, una ciudad revolucionaria, poderosa, inesperada y llena de contrastes. Instalada entre las montañas de Los Andes, La Paz es una locación cultural y moderna que te invita a conocer sus secretos. 
				</p>
				<p>
					Es una de las 7 ciudades maravilla del mundo, denominada así por New Seven Wonder Fundation el 2015. Asimismo, es la histórica cuna de uno de los primeros gritos libertarios de Latinoamérica. En 2018, por tercera vez, La Paz fue elegida como Capital Iberoamericana de las Culturas por sus rasgos de cultura viva y milenaria. 
				</p>
				<a href="#" class="primary-btn text-uppercase">Más información</a>
			</div>
			<div class="col-lg-6 col-md-12 home-about-right no-padding">
				<img class="img-fluid" src="assets/img/jmalobaton4.png" alt="">
			</div>
		</div>
	</div>	
</section>
<!-- End home-about Area -->


<!-- Start testimonial Area -->
<section class="testimonial-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Comentarios de nuestros clientes</h1>
					<p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="active-testimonial">
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user1.png" alt="">
					</div>
					<div class="desc">
						<p>
							Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.		     
						</p>
						<h4>Harriet Maxwell</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>				
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user2.png" alt="">
					</div>
					<div class="desc">
						<p>
							A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
						</p>
						<h4>Carolyn Craig</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user1.png" alt="">
					</div>
					<div class="desc">
						<p>
							Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.		     
						</p>
						<h4>Harriet Maxwell</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>				
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user2.png" alt="">
					</div>
					<div class="desc">
						<p>
							A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
						</p>
						<h4>Carolyn Craig</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user1.png" alt="">
					</div>
					<div class="desc">
						<p>
							Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills, the bigger the payoff you.		     
						</p>
						<h4>Harriet Maxwell</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>				
						</div>	
					</div>
				</div>
				<div class="single-testimonial item d-flex flex-row">
					<div class="thumb">
						<img class="img-fluid" src="assets/img/elements/user2.png" alt="">
					</div>
					<div class="desc">
						<p>
							A purpose is the eternal condition for success. Every former smoker can tell you just how hard it is to stop smoking cigarettes. However.
						</p>
						<h4>Carolyn Craig</h4>
						<div class="star">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>			
						</div>	
					</div>
				</div>		                    		                    
			</div>
		</div>
	</div>
</section>
<!-- End testimonial Area -->
<!-- Footer -->
<app-footer></app-footer>
<!-- #Footer -->