<!--header -->
<header id="header">
	<app-headertop></app-headertop>
	<app-navvar></app-navvar>
</header>
<!-- #header -->

<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Lugares Unicos
				</h1>
			</div>	
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start section select places -->
<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">
			<h3 class="mb-30">Lugares unicos</h3>
			<div class="row">
				<div class="col-md-9">
					
					<div class="row">
						<div class="col-md-6">
							<div class="input-group-icon mt-10 ">
								<label for="bday">escoja una opcion:</label>
								<select id="selectactividad" name="selectactividad" ngModel class="form-control bordinput lmp-camp" (change)="onChangeSelect($event.target.value)">
									<option [ngValue]="0">Seleccione una opcion</option>
									<option [ngValue]="1">Naturaleza</option>
									<option [ngValue]="2">Aventura</option>
									<option [ngValue]="3">Gastronomia</option>
									<option [ngValue]="4">Cultura</option>
									<option [ngValue]="5">Hoteles</option>
								</select>
							</div>

							<!-- Start price Area -->
							<section class="price-area" style="margin: 2% auto auto auto; height: 500px; overflow:auto;">
								<div class="container">						
									<div class="row">
										<div class="col-lg-12">
											<div class="single-price">
												<ul class="price-list">
													<li *ngFor="let item of listactividad" class="d-flex justify-content-between align-items-center" style="cursor: pointer" (click)="activiti(item);">
														<div class="icon" style="margin: 0 10px 0 0;"><i class="fa fa-plane" aria-hidden="true"></i></div>
														<span>{{ item.comnombre }}</span>
														<hr>
													</li>														
												</ul>
											</div>
										</div>

									</div>
								</div>	
							</section>
							<!-- End price Area -->
						</div>
						<div class="col-md-6">
							<!-- Start price Area -->
							<section class="price-area" style="margin: 2% auto auto auto;">
								<div class="container">						
									<div class="single-price">
										<h4>informacion</h4>
									</div>

									
									<div *ngFor="let infact of information" class="single-other-issue">
										<div class="thumb">
											<img class="img-fluid" src="{{ infact.com_urlimg }}" alt="">
										</div>
										<a [routerLink]="['/detalleinformacion',infact.xcom_id, infact.xprmser_id, infact.comopcinformacion[0].comidinformacion ]">
											<h4>{{ infact.comnombre }}</h4>
										</a>
										<p>
											{{ infact.comdescripcionresumida }}
										</p>
									</div>

								</div>	
							</section>
							<!-- End price Area -->
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<app-nav-activitis></app-nav-activitis>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End section select places -->
<!-- Footer -->
<app-footer></app-footer>
<!-- #Footer -->