
<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<!--Slider-->
	<ngb-carousel *ngIf="images">
		<ng-template ngbSlide>
			<img src="assets/images/slide11.png" class="imgslide" alt="Random first slide">
			<div class="carousel-caption">
				<!-- <h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src="assets/images/slide22.png" class="imgslide" alt="Random first slide">
			<div class="carousel-caption">
				<!-- <h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src="assets/images/slide33.png" class="imgslide" alt="Random first slide">
			<div class="carousel-caption">
				<!-- <h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src="assets/images/slide44.png" class="imgslide" alt="Random first slide">
			<div class="carousel-caption">
				<!-- <h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
			</div>
		</ng-template>
	</ngb-carousel>
	<!--//Slider-->	
</section>
<!-- End banner Area -->	