<!--header -->
<header id="header">
	<app-headertop></app-headertop>
	<app-navvar></app-navvar>
</header>
<!-- #header -->

<!-- start banner Area -->
<section class="about-banner relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					{{ namepage }}
				</h1>
			</div>	
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start section select places -->
<div class="whole-wrap">
	<div class="container">
		<div class="section-top-border">

			<!-- Start Button -->
			<section class="button-area">
				
				<div class="button-group-area mt-10">
					<a (click)="todaactividad();" class="genric-btn primary-border">Todo</a>
					<a *ngFor="let itemserv of listsubserv" (click)="listaactividad(itemserv);" class="genric-btn primary-border">{{ itemserv.prmsubser_nombre }}</a>
				</div>
				<div class="button-group-area mt-10">
				</div>
			</section>
			<!-- End Button -->

			<div class="row">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<!-- Start destinations Area -->
							<section class="destinations-area">
								<div class="container">
									<div class="row d-flex justify-content-center">
										<div class="menu-content col-lg-8">
											<div class="title text-center">
												<h1 class="mb-10">Popular Destinations</h1>
												<p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, day to.</p>
											</div>
										</div>
									</div>						
									<div class="row">
										<div *ngFor="let item of listactividad" class="col-lg-4">
											<div class="single-destinations">
												<div class="thumb">
													<img src="{{ item.com_urlimg }}" alt="">
												</div>
												<div class="details">
													<h4 class="d-flex justify-content-between">
														<span>{{ item.comnombre }}</span>	
													</h4>
													<ul class="package-list">
														<hr>
														<li class="d-flex justify-content-between align-items-center">
															<span>{{ item.comdescripcionresumida}}</span>
														</li>												
														<li class="d-flex justify-content-between align-items-center">
															<span></span>
															<a [routerLink]="['/detalleinformacion',item.xcom_id, item.xprmser_id, item.comopcinformacion[0].comidinformacion ]" class="price-btn">Ver</a> 
														</li>													
													</ul>
												</div>
											</div>
										</div>							
									</div>
								</div>	
							</section>
							<!-- End destinations Area -->
							
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<app-nav-activitis></app-nav-activitis>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End section select places -->
<!-- Footer -->
<app-footer></app-footer>
<!-- #Footer -->