<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 d-flex flex-column address-wrap">
				<div class="single-contact-address d-flex flex-row" id="event">
					<a>
						<div class="icon" style="display:block; text-align:center;">
							<span class="lnr lnr-home"></span>
						</div>
					</a>
					<div class="contact-details">
						<h5>Eventos</h5>
					</div>
					
				</div>
				<div class="single-contact-address d-flex flex-row" id="video">
					<a>
						<div class="icon">
							<span class="lnr lnr-film-play"></span>
						</div>
					</a>
					<div class="contact-details">
						<h5>Videos</h5>
					</div>
				</div>
				<div class="single-contact-address d-flex flex-row" id="download">
					<a>
						<div class="icon" >
							<span class="lnr lnr-download"></span>
						</div>
					</a>
					<div class="contact-details">
						<h5>Descargas</h5>
					</div>
				</div>
				<div class="single-contact-address d-flex flex-row" id="ally">
					<a>
						<div class="icon" >
							<span class="lnr lnr-apartment"></span>
						</div>
					</a>
					<div class="contact-details">
						<h5>Aliados</h5>
					</div>
				</div>
				<div class="single-contact-address d-flex flex-row" id="contact">
					<a>
						<div class="icon">
							<span class="lnr lnr-user"></span>
						</div>
					</a>
					<div class="contact-details">
						<h5>Contactos</h5>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
			<!-- End contact-page Area -->